{{define "adminSidebar"}}
<div class="sidebar" data-background-color="white" data-active-color="danger">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                <i class="ti-heart-broken"></i> {{.siteName}}
            </a>
        </div>

        <ul class="nav">

            <li {{if .isAdd}}class="active"{{end}}>
                <a href="/admin/article">
                    <i class="ti-home"></i>
                    <p>Article</p>
                </a>
            </li>
            <li {{if .isManager}}class="active"{{end}}>
                <a href="/admin/manager">
                    <i class="ti-archive"></i>
                    <p>Manager</p>
                </a>
            </li>
            <li {{if .isSetting}}class="active"{{end}}>
                <a href="/admin/setting">
                    <i class="ti-book"></i>
                    <p>Setting</p>
                </a>
            </li>


        </ul>
        <div class="slogon text-center">
			{{range $i, $v := .quoteSlice}}
				<p>{{$v}}<br></p>
			{{end}}
        </div>
        <div class="social">
            <a class="btn btn-rect" href="{{.linkGithub}}" target="_blank"><i class="ti-github"></i> Github</a>
            <a class="btn btn-rect" href="{{.linkTwitter}}" target="_blank"><i class="ti-twitter-alt"></i> Twitter</a>
            <!--
			<a class="btn btn-rect" href="" target="_blank"><i class="ti-facebook"></i> Facebook</a>
            <a class="btn btn-rect" href="" target="_blank"><i class="ti-pinterest-alt"></i> Pinterest</a>
			-->
        </div>
    </div>
</div>
{{end}}