<!doctype html>
<html lang="en">

<head>
    {{template "header" .}}
</head>
<body>
    <div class="wrapper">
        {{template "adminSidebar" .}}
        <div class="main-panel">
            {{template "nav" .}}
            <div class="content bg-white">
                <div class="container" style="text-align:center;">
                    {{with .article}}
                    <form method="POST" action="/article/{{.ID}}/edit" class="form-horizontal" role="form">
                        <button type="submit" style="margin:0px 0px 10px 0px;" class="btn btn-default">修 改 文 章</button>
                        <hr>
                        <label>创建时间</label>
                        <div class="input-group" style="margin:0 auto;width:100%;">
                            <input name="articleCreatedAt" type="text" value="{{.CreatedAt | printf "%.19s"}}" class="form-control" placeholder="创建时间" style="border:2px solid #66615b;text-align:center;">
                        </div>
                        <label>文章标题</label>
                        <div class="input-group" style="margin:0 auto;width:100%;margin:10px 0px 10px 0px;">
                            <input name="articleTitle" type="text" value="{{.Title}}" class="form-control" placeholder="文章标题" style="border:2px solid #66615b;text-align:center;">
                        </div>
                        <label>文章摘要</label>
                        <div class="input-group" style="margin:0 auto;width:100%;margin:10px 0px 10px 0px;">
                            <input name="articleSummary" type="text" value="{{.Summary}}" class="form-control" placeholder="文章摘要" style="border:2px solid #66615b;text-align:center;">
                        </div>
                        <label>文章内容</label>
                        <div class="input-group" style="margin:0 auto;width:100%;margin:10px 0px 10px 0px;">
                            <textarea name="articleContent" class="form-control" rows="15" placeholder="文章内容" style="border:2px solid #66615b;">{{.Content}}</textarea>
                        </div>
                    {{end}}
                    </form>
                </div>
            </div>
            {{template "footer" .}}
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
    
    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
    <script src="/assets/js/goodman.js"></script>
</body>

</html>